<!DOCTYPE html>
{% load static %}
<!--Author: Sredna Kunowski
	Date: 5/3/2020	
-->
<html>
	<head>
		<title>Course Details</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
				<link rel="stylesheet" href="{% static 'css/styles.css'%}" />

	</head>
	<body>
		<div class="container">
			<h2>Here are the course details</h2>

			<div>
				{% if course %}

					<div class="card mt-3">
						<h5 class="card-header">{{course.course_id}} {{course.course_title}}</h5>
						<div class="card-body">
							<p class="card-text"><b>Description:</b> {{course.course_description}}</p>
							<p class="card-text"><b>Credits: </b>{{course.course_credit}}</p>
							<p class="card-text"><b>Instructor:</b> {{course.course_instructor}}</p>
							<p class="card-text"><b>Start Date:</b> {{course.course_startDate}}</p>
						</div>
					</div>	
				{% else %}
					<p>No Course records found.</p>
				{% endif %}
			</div>
		</div>
	</body>
</html>