

<!DOCTYPE html>

<!--Author: Sredna Kunowski
	Date: 5/3/2020	
-->
<html>
<head>
	<title>Course Project</title>
	
	
	<link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body>
	<div class="container">
		<!--name, put name inside double curly braces to invoke binding-->
		<!--image of juice-->
		<!--
		<img src="/static/images/juice.jpg" alt=" picture of juice in glass"
		-->
		<h2>Here are all the courses</h2>

		<div class="card">
			
			
				

					<h5 class="card-header">CSCI159Problem Solving</h5>
					<div class="card-body">
						<p class="card-text">Learn computer science problem solving</p>
						<a href="/details?pk=CSCI159" class="btn btn-primary"> Read More</a>
					</div>	
													
				

					<h5 class="card-header">CSCI313Advanced Software Development</h5>
					<div class="card-body">
						<p class="card-text">Learn angular, django, and sql.</p>
						<a href="/details?pk=CSCI313" class="btn btn-primary"> Read More</a>
					</div>	
													
				

					<h5 class="card-header">CSCI371Web Scripting</h5>
					<div class="card-body">
						<p class="card-text">Learn html, css, JavaScript, and Php</p>
						<a href="/details?pk=CSCI371" class="btn btn-primary"> Read More</a>
					</div>	
													
				

					<h5 class="card-header">ENGL323Creative Writing</h5>
					<div class="card-body">
						<p class="card-text">Learn play writing by reading and writing plays.</p>
						<a href="/details?pk=ENGL323" class="btn btn-primary"> Read More</a>
					</div>	
													
				

					<h5 class="card-header">JAPN102Beginning Japanese II</h5>
					<div class="card-body">
						<p class="card-text">Learn to speak the Japanese language.</p>
						<a href="/details?pk=JAPN102" class="btn btn-primary"> Read More</a>
					</div>	
													
				

					<h5 class="card-header">STAT331Regression Analysis</h5>
					<div class="card-body">
						<p class="card-text">Continuation of statistics</p>
						<a href="/details?pk=STAT331" class="btn btn-primary"> Read More</a>
					</div>	
													
				
			
			
		</div>


	</div>

</body>
</html>