<!DOCTYPE html>
{% load static %}
<!--Author: Sredna Kunowski
	Date: 5/3/2020	
-->
<html>
<head>
	<title>Course Project</title>
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css'%}" />
</head>
<body>
	<div class="container">
		<h2>Here are all the courses</h2>

			{% if course %}
				
				{% for c in course %}
					<div class="card mt-3">
						<h5 class="card-header">{{c.course_id}} {{c.course_title}}</h5>
						<div class="card-body">
							<p class="card-text red">{{c.course_description}}</p>
							<a href="{% url 'details' %}?pk={{c.course_id}}" class="btn btn-primary"> Read More</a>
						</div>
					</div>							
				{% endfor %}
				
			{% else %}

				<p>No Course records found.</p>

			{% endif %}
	</div>

</body>
</html>